
{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
 <a href="{{path('home')}}"> <button type="button" class="btn btn-round">Retour</button></a>
<br>
<br>
<section class="section" >
    <div >
        <img src="/uploads/{{ article.image }}"  alt="{{article.titre}}" class="figure-img img-fluid rounded"  />
    </div>

    <div class="content">
        <p class="text-center" >{{article.titre | raw}}</p>
        <p class="content" >
         {{article.description | raw}}
        </p>
         <p class="date">
            Publie le {{article.createdAt | date("d/m/Y")}} a {{article.createdAt | date("H:i")}} 
        </p>
    </div>
    
</section>
</div>

{% endblock %}
